@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "./partials/navbar.scss";

.logo {
  padding-bottom: 10px;
}

.banner {
  opacity: 50%;
}

.has-icons-left {
  padding-left: 10px;
}
